canvas {
    border: 1px solid black;
    background: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body {
    margin: 0;
}

@media (max-width: 800 px){
    canvas {
        border: 1px solid black;
        background: white;
        padding-left:  0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

button{
    size: 50px;
}
