body {
	background-color : lightblue;
	color : purple;
}

h1 {
	color : green;
}

p {
	color : red;
}

#cat {
	width : 100px;
	height : 100px;
	left: 10px;
	top: 0px;
}

#meowmeow {
	width : 100px;
	height : 100px;
	position: absolute;
	left: 10px;
	top: 0px;
}

#fluffy {
	width : 100px;
	height : 100px;
	position: absolute;
	left: 400px;
	top: 0px;
}

